
[user]
    email = brown.cade@gmail.com
    name = Cade Brown

# override user for work directory (NVIDIA)
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work-nvidia

# override user when it is my NVIDIA home directory on MacOS (cadeb != cade)
[includeIf "gitdir:/Users/cadeb/"]
    path = ~/.gitconfig-work-nvidia

# override user when it is my NVIDIA home directory on Linux (cadeb != cade)
[includeIf "gitdir:/home/cadeb/"]
    path = ~/.gitconfig-work-nvidia

# override user for NVIDIA scratch space for work
[includeIf "gitdir:/home/scratch.cadeb_ent/"]
    path = ~/.gitconfig-work-nvidia

[init]
    defaultBranch = main

[status]
   submoduleSummary = true

[pull]
    rebase = true

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    # features = decorations
    dark = true
    side-by-side = true
    line-numbers = true

[push]
    autoSetupRemote = true

[pull]
    rebase = true
    ff = only

# [merge]
#     conflictStyle = zdiff3

[rebase]
    autoSquash = true
    autoStash = true

[init]
    defaultBranch = main

[rerere]
   enabled = true

[diff]
    algorithm = histogram
    submodule = log
    colorMoved = default

[submodule]
   recurse = true

[branch]
   sort = -committerdate

[fetch]
   prune = true

# replace with SSH cloning when possible
[url "git@github.com:"]
    insteadOf = https://github.com/

[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all -n 15
    zip = archive -o latest.zip HEAD
    praise = blame
